
  <li>NAME: <%= cat.name %></li>
  <li>AGE: <%= cat.age %></li>
  <li>BIRTH DATE: <%= cat.birth_date %></li>
  <li>COLOR: <%= cat.color %></li>
  <li>SEX: <%= cat.sex %></li>  
  <li>DESCRIPTION: <%= cat.description %></li>
  




<!-- <label for='name'>name:</label>
<input -->